{% extends "layout.html" %}


{% block content %}
<!-- what is the diff between className and courseName -->
    {% if enteredCreateQuiz %}
        {% if assignedClasses.count() > 0 %}
            <table class="table table-striped">
                <tr>
                    <th>CourseId</th>
                    <th>ClassId</th>
                    <th>Current Available Seats</th>
                    <th>Quizzes</th>
                </tr>
                {% for class in assignedClasses%}
                    <tr>
                        <td>{{class.courseId}}</td>
                        <td>{{class.classId}}</td>
                        <td>{{class.numAvailableSeats}}</td>

                        {% if class.lessonIdList == None %}
                            <td><div class="alert alert-danger" role="alert">To add quizzes, you need to have at least one lesson for this class</div></td>
                        {% else %}
                        <!-- add logic to check if a quiz has been created for the lesson -->
                            <td>
                                {% for lesson in class.lessonIdList %}
                                    {% if lesson[1:-1] in lessonsWithoutQuiz %}
                                    <div class="alert alert-info" role="alert">You have a quiz for this lesson {{lesson[1:-1]}} </div><br>
                                    {% else %}
                                    {{lesson[1:-1]}}
                                    <button class="btn-sm btn-primary" onclick="createQuiz('{{class.courseId}}', '{{class.classId}}', {{lesson}})">Create Quiz</button>
                                    <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endif %}
                        
                    </tr>
                {% endfor %}
            </table>
            <br><br>
            <div id="quizTemplate"></div>
        {% else %}
            <h2>you have not been assigned to any class</h2>
        {% endif %}
    {% endif %}

    <script>
        var questionNumber = 1;
        function createQuiz(courseDetails, classDetails, lessonDetails){
            document.getElementById('quizTemplate').innerHTML = 
            `  
             <table>
                <tr>
                    <th> 
                        Creating quiz for: <br>
                        CourseId->${courseDetails},
                        ClassId->${classDetails},
                        LessonId->${lessonDetails}
                    </th>
                </tr>
                <tr>
                    <td>
                        <form action="/trainer/quizzes/${courseDetails}-${classDetails}-${lessonDetails}" method="POST" id="form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="totalNumQuestions" value="1">
                        <input type="hidden" name="classDetails" value="${classDetails}">
                        Question${questionNumber}: <input type="text" name="qn${questionNumber}" placeholder="your question here...">
                        <br>
                        Answer Type:
                        <input type="radio" name="ansType${questionNumber}" value="trueFalse" onclick="displayTFField(${questionNumber})">
                        <label for="trueFalse">T/F</label>
                        <input type="radio" name="ansType${questionNumber}" value="mcq" onclick="displayMCQField(${questionNumber})">
                        <label for="mcq">MCQ</label>
                        <br><br>
                        <div id="answerOutput${questionNumber}"></div>
                        <div id="newQuestionPosition"></div>
                        <br>
                        Graded:
                        <select name="graded">
                        <option value=true>True</option>
                        <option value=false>False</option>
                        </select> <br><br>
                        <input type="submit" name="submit">
                        </form>
                        <button onclick="newQuestion()" style="float: right;">Add Question</button>
                    </td>
                </tr>
            </table>
            `
        }

        function displayTFField(tfQuestionNumber){
            document.getElementById(`answerOutput${tfQuestionNumber}`).innerHTML = 
            `
            <select name="tfAns${tfQuestionNumber}">
            <option value="true">True</option>
            <option value="false">False</option>
            </select>
            `
            
        }

        function displayMCQField(mcqQuestionNumber){
            document.getElementById(`answerOutput${mcqQuestionNumber}`).innerHTML = 
            `
            Option1: <input type="text" name="qn${mcqQuestionNumber}_option1"> <br>
            Option2: <input type="text" name="qn${mcqQuestionNumber}_option2"> <br>
            Option3: <input type="text" name="qn${mcqQuestionNumber}_option3"> <br>
            Option4: <input type="text" name="qn${mcqQuestionNumber}_option4"> <br>
            `
        }

        function newQuestion(){
            questionNumber += 1;
            document.getElementById("newQuestionPosition").innerHTML += 
            `Question${questionNumber}: <input type="text" name="qn${questionNumber}" placeholder="your question here...">
            <br>
            Answer Type:
            <input type="radio" name="ansType${questionNumber}" value="trueFalse" onclick="displayTFField(${questionNumber})">
            <label for="trueFalse">T/F</label>
            <input type="radio" name="ansType${questionNumber}" value="mcq" onclick="displayMCQField(${questionNumber})">
            <label for="mcq">MCQ</label>
            <br>
            <div id="answerOutput${questionNumber}"></div>
            <br>`;

            document.getElementsByName("totalNumQuestions")[0].setAttribute("value", questionNumber);
            
        }
    </script>
{% endblock %}