{% extends "layout.html" %}

<h2>{%trans%}Learner's Page{%endtrans%}</h2>

{% block content %}
<!-- data population for enrolment -->
<h5>Wel Fking Come {{learner[0].getLearnerName()}}</h5>

{% if enteredEnrolment %}
<h3>Enrolment</h3>
<!-- {% for i in enrolment %}
            {% for j in i.getCompletedCourses('L001') %}
                <p>{{j}}</p>
            {% endfor %}
            <p>{{i.getApprovalStatus()}}</p>
        {% endfor %} -->
<table>
    <tr>
        <th>CourseID</th>
        <th>Course Name</th>
        <th>Class ID</th>
        <th>Approval Status</th>
        <th>Completion Status</th>
        <th>Number of Lessons Completed</th>
    </tr>

    {% for i in enrolments %}
    <tr>
        <td>{{i[0].getCourseId()}}</td>
        <td>{{i[1].displayCourseName()}}</td>
        <td>{{i[0].getClassId()}}</td>
        <td>{{i[0].getApprovalStatus()}}</td>
        <td>{{i[0].getCompletionStatus()}}</td>
        <td>{{i[0].getNumLessonCompleted()}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<!-- data population for courses -->
{% if enteredCourses %}
<h3>Courses</h3>
<table>
    <tr>
        <th>CourseID</th>
        <th>Course Name</th>
        <th>Prerequisites</th>
        <th>Apply</th>
    </tr>

    {% for i in courses %}
    <tr>
        <td>{{i.displayCourseId()}}</td>
        <td>{{i.displayCourseName()}}</td>
        <td>
            {% if i.getPrerequisite() == None %}
            No Prerequisites
            {% else %}
            {% for j in i.getPrerequisite() %}
            <p>{{j}}</p>
            {% endfor %}
            {% endif %}

        </td>
        <td>
            {% if i.getPrerequisite() == None %}
            <button
                onclick="checkEligibility('Nothing', '{{i.displayCourseId()}}', {{learner[0].getCoursesTaken()}}, '{{learner[0].getLearnerId()}}')">Check
                Eligibility</button>
            {% else %}
            <button
                onclick="checkEligibility({{i.getPrerequisite()}}, '{{i.displayCourseId()}}', {{learner[0].getCoursesTaken()}}, '{{learner[0].getLearnerId()}}')">Check
                Eligibility</button>

            <!-- why this third input cannot work fk coding -->
            <!-- <script>
                            checkEligibility({{i.getPrerequisite()}}, '{{i.displayCourseId()}}', {{learner[0].getCoursesTaken()}});
                        </script> -->

            {% endif %}
            <div id="{{i.displayCourseId()}}"></div>

        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<script>

    function applyCourse(courseId, learnerId) {
        var userInfo = JSON.stringify({ 'courseId': courseId, 'learnerId': learnerId });
        console.log('applying for course now');
        const request = new XMLHttpRequest()
        request.open("GET", `/learner/courses/${userInfo}`);
        request.onload = () => {
            const flaskMessage = request.responseText;
            console.log(flaskMessage);
        }
        request.send();
    }

    function checkEligibility(prereq, courseId, coursesCompleted, learnerId) {
        if (prereq == "Nothing" && coursesCompleted.indexOf(courseId) > -1) {
            document.getElementById(courseId).innerHTML = "You have completed this course";
        } else if (prereq == "Nothing" && coursesCompleted.indexOf(courseId) == -1) {
            document.getElementById(courseId).innerHTML = "You Are Eligible!" + `<button onclick="applyCourse('${courseId}', '${learnerId}')">Apply</button>`;
        } else {
            var remainingCourses = '';
            for (course of coursesCompleted) {
                var index = prereq.indexOf(course);
                if (index > -1) {
                    prereq.splice(index, 1);
                }
            }
            if (prereq.length > 0) {
                for (course of prereq) {
                    console.log(course);
                    remainingCourses += course + ", ";
                }
                remainingCourses = remainingCourses.slice(0, -2);
                document.getElementById(courseId).innerHTML = "you need the following courses: " + remainingCourses;
            } else {
                // but this one pass a whole div tag to flask
                document.getElementById(courseId).innerHTML = "You Are Eligible!" + `<button onclick="applyCourse('${courseId}', '${learnerId}')">Apply</button>`;
            }
        }
    }
</script>
{% endblock %}