{% extends "layout.html" %}

    <h2>{%trans%}Course Lessons{%endtrans%}</h2>

{% block content %}
    <!-- data population for enrolment -->
    {% if enteredEnrolment %}
        <h3>Enrolment</h3>
        {% for i in enrolment %}
            {% for j in i.getCompletedCourses('L001') %}
                <p>{{j}}</p>
            {% endfor %}
            <p>{{i.getApprovalStatus('E001')}}</p>
        {% endfor %}
    {% endif %}

    <h3>{{courseId}} - {{course[0].displayCourseName()}}</h3>
    <hr class="no-margins">
    <div class="d-flex" id="wrapper">
        
        <!-- Sidebar-->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                {% for lesson in lessons %}
                    <button class="tablinks list-group-item list-group-item-action list-group-item-light p-3" onclick="loadLessonContent(event, '{{lesson.getLessonId()}}')">Lesson {{lesson.getChapterNo()}}</button>
                {% endfor %}
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Page content-->
            <div class="container-fluid">
                {% for lesson in lessons %}
                    <div id="{{lesson.getLessonId()}}" class="tabcontent">
                        <h4>{{lesson.getLessonTitle()}}</h4>
                        <p>{{lesson.getCourseMaterialId()}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        var firsttab = document.getElementsByClassName("tablinks")[0];
        firsttab.id="defaultOpen";

        function loadLessonContent(evt, lessonId) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(lessonId).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>
{% endblock %}

