{% extends "layout.html" %}

<h2>{%trans%}Course Lessons{%endtrans%}</h2>

{% block content %}
<!-- data population for enrolment -->
{% if enteredEnrolment %}
<h3>Enrolment</h3>
{% for i in enrolment %}
{% for j in i.getCompletedCourses('L001') %}
<p>{{j}}</p>
{% endfor %}
<p>{{i.getApprovalStatus('E001')}}</p>
{% endfor %}
{% endif %}

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

<h3 class="pt-3 pb-3">{{courseId}} - {{course[0].displayCourseName()}}</h3>

<hr class="no-margins">
<div class="d-flex" id="wrapper">

    {% if lesson_content %}
    <!-- Sidebar-->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            
            {% set quizStatusList = [] %}

            {% for content in lesson_content %}
            {% set lesson = content["lesson"] %}
            {% set score = content["score"] %}
            {% set lessonStatus = "" %}
          
            {% if score %}
                {% if score.getScorePerc() >= 70 %}
                    {% set lessonStatus = "✅" %}
                {% else %}
                    {% set lessonStatus = "⏳" %}
                {% endif %}
            {% endif %}
            {{ quizStatusList.append( lessonStatus )|default("", True) }}

            <button class="tablinks list-group-item list-group-item-action list-group-item-light p-3"
                onclick="loadLessonContent(event, '{{lesson.getLessonId()}}')">Lesson
                {{lesson.getLessonId()}} {{lessonStatus}}</button>
            {% endfor %}

            
            <h4>{{courseStatus}}</h4>
         
            {% if ("⏳" in quizStatusList) %}
                <h4>Pending ⏳</h4>
            {% else %}
                <h4>Completed ✅</h4>
            {% endif %}
            

        </div>
    </div>
    
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Page content-->
        <div class="container-fluid row">
            {% for content in lesson_content %}
            {% set lesson = content["lesson"] %}
            {% set material = content["material"] %}
            {% set quiz = content["quiz"] %}
            {% set score = content["score"] %}
            
            
            
            <div id="{{lesson.getLessonId()}}" class="tabcontent">
                <h4 class="pt-3 pb-3">{{lesson.getLessonTitle()}}</h4>
                <div class="row" style="flex-wrap: unset;">
                    <div class="col" style="width: max-content;">
                        {% if score %}
                            <p>{{ score.getScorePerc() }}</p>
                            
                            {% if score.getScorePerc() >= 70 %}
                                {% set quizStatus = "Completed!" %}
                                <h4><small>{{quizStatus}}✅</small></h4>
                            {% else %}
                                {% set quizStatus = "Not Complete!" %}
                                <h4><small>{{quizStatus}}❌</small></h4>
                            {% endif %}
                        {% endif %}

                        {% if lesson.materialIdList %}
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="documentspanel-headingone">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#documentspanel" aria-expanded="true"
                                        aria-controls="documentspanel">
                                        Documents
                                    </button>
                                </h2>
                                <div id="documentspanel" class="accordion-collapse collapse show"
                                    aria-labelledby="documentspanel-headingone">
                                    <div class="accordion-body">
                                        {% for m in material %}
                                        {% if m.getMaterialType() == "document" %}
                                        <a href="#"
                                            onclick="renderdocuments('{{m.getFileLink() }}')">{{m.getMaterialName()}}</a>
                                        <br />
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="videospanel-headingtwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#videospanel" aria-expanded="true" aria-controls="videospanel">
                                        Videos
                                    </button>
                                </h2>
                                <div id="videospanel" class="accordion-collapse collapse show"
                                    aria-labelledby="videospanel-headingtwo">
                                    <div class="accordion-body">
                                        {% for m in material %}
                                        {% if m.getMaterialType() == "video" %}
                                        <a href="#"
                                            onclick="rendervideos('{{ m.getFileLink() }}')">{{m.getMaterialName()}}</a>
                                        <br />
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="hyperlinkspanel-headingthree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#hyperlinkspanel" aria-expanded="true"
                                        aria-controls="hyperlinkspanel">
                                        Hyperlinks
                                    </button>
                                </h2>
                                <div id="hyperlinkspanel" class="accordion-collapse collapse show"
                                    aria-labelledby="hyperlinkspanel-headingthree">
                                    <div class="accordion-body">
                                        {% for m in material %}
                                        {% if m.getMaterialType() == "hyperlink" %}
                                        <a href="{{m.getFileLink()}}" target="_blank"
                                            rel="noopener noreferrer">{{m.getMaterialName()}}</a>
                                        <br />
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="quizpanel-headingthree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#quizpanel" aria-expanded="true" aria-controls="quizpanel">
                                        Quiz
                                    </button>
                                </h2>
                                <div id="quizpanel" class="accordion-collapse collapse show"
                                    aria-labelledby="quizpanel-headingthree">
                                    <div class="accordion-body">
                                        {% if ( quiz and score ) %}
                                        <a href="#"
                                            onclick="renderQuiz('{{ quiz.getQuizId() }}', '{{ quiz.getQuizName() }}', '{{ quiz.getQuizContent() }}', '{{ score.getCompletedStatus() }}' ,'{{ score.getScorePerc() }}')">{{quiz.getQuizName()}}</a>
                                        <br />
                                        {% endif %}
                                    </div>

                                    {{lesson.getLessonId()}}


                                </div>
                            </div>
                        </div>
                        {% else %}
                        No materials uploaded yet.
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div id="iframe" style="min-width: max-content;">
    </div>

</div>
{% else %}
Lessons are not created yet.
{% endif %}

<script>
    var firsttab = document.getElementsByClassName("tablinks")[0];
    firsttab.id = "defaultOpen";

    function loadLessonContent(evt, lessonId) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(lessonId).style.display = "block";
        evt.currentTarget.className += " active";
        document.getElementById("iframe").innerHTML = '';
    }

    document.getElementById("defaultOpen").click();

    var linkdivs = document.getElementsByClassName("accordion-body");
    for (let i = 0; i < linkdivs.length; i++) {
        linkcount = (linkdivs[i].getElementsByTagName("a")).length;
        console.log(linkcount);
        if (linkcount <= 0) {
            // linkdivs[i].innerHTML = "No materials uploaded yet.";
        }
    }

    function renderdocuments(link) {
        filetype = (link.split(".")).pop();
        if (filetype.includes("doc") || filetype.includes("ppt")) {
            console.log(filetype);
            link2 = "https://view.officeapps.live.com/op/embed.aspx?src=" + link;
            document.getElementById("iframe").innerHTML = '<iframe id="iframe" style="min-width:500px; min-height:600px" frameborder="0" src="' + link2 + '"></iframe>';
            console.log(link);
        }
        else {
            document.getElementById("iframe").innerHTML = '<iframe id="iframe" style="min-width:500px; min-height:600px" frameborder="0" src="' + link + '"></iframe>';
        }
    }

    function rendervideos(link) {
        filetype = (link.split(".")).pop();
        document.getElementById("iframe").innerHTML = '<video width="500" height="600" controls> <source src="' + link + '" type="video/' + filetype + '">';
    }

    var currQuizId;
    var name;
    var count = 0;
    var points = 0;
    var question;
    var questions;
    var completed;

    var csrf_token = document.getElementsByName("csrf_token")[0].value
    console.log(csrf_token)

    function renderQuiz(quizId, name, content, completed, score) {
        currQuizId = quizId
        name = name
        questions = JSON.parse(content)
        console.log(csrf_token)

        if (completed == 'True') {
            document.getElementById("iframe").innerHTML = `
            <div id="score">
                <p>You have passed the quiz already! Try again?</p>
                <p>Your latest score: ${score}</p>
            </div>
            `
        } else {
            document.getElementById("iframe").innerHTML = `
            <div id="score">
                <p>You have not yet passed the quiz. Please attempt</p>
            </div>
            `
        }

        document.getElementById("iframe").innerHTML += `
            <button onclick="showQuestions()" id="start"> START </button>
            <div class="container">
                <div id="questions">
                    <div id="count"></div>
                    <div id="quest"></div>
                    <button onclick="answer(true)" style="display:none;" id="answerT"> TRUE</button>
                    <button onclick="answer(false)" style="display:none;" id="answerF"> FALSE</button>
                </div>
                <div id="points" style="display:none;"></div>
                <div id="winner" style="display:none;">Congrats, You pass! <br></div>
                <div id="looser" style="display:none;">Sorry, you failed! Please redo</div>
                <button onclick="restart()" style="display:none;" id="reset"> Redo? </button>
            </div>
        `;
    }
    //show answer buttons only after clicking start button
    function showButtons() {
        document.getElementById('answerT').style.display = "";
        document.getElementById('answerF').style.display = "";
    }

    // choose a category and a question
    function showQuestions() {
        score.style.display = 'none';
        start.style.display = 'none';
        showButtons();

        document.getElementById('count').innerHTML = 'Question ' + (++count);

        question = questions[Math.floor(Math.random() * questions.length)];
        document.getElementById('quest').innerHTML = question.question;
    }

    // create a copy of Questions array
    var copy = [].concat(questions);

    async function postScore(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            // cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            // credentials: 'include', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json',
                "X-CSRF-Token": csrf_token,
            },
            // redirect: 'follow', // manual, *follow, error
            // referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    // delete used question out of the copy array
    function deleteUsed() {
        if (questions.length > 1) {
            questions.splice(questions.indexOf(question), 1);
        } else {
            document.getElementById('answerT').style.display = "none";
            document.getElementById('answerF').style.display = "none";
            document.getElementById('questions').style.display = "none";
            document.getElementById('reset').style.display = "";

            var percentage = Math.round(points / count * 100);
            document.getElementById('points').innerHTML = "Your score: " + percentage + "%";
            document.getElementById('points').style.display = "";
            if (percentage > 85) {
                document.getElementById('winner').style.display = "";
                completed = true;
            }
            else {
                document.getElementById('looser').style.display = "";
                completed = false;
            }

            score = {
                quizId: currQuizId,
                learnerId: '{{learnerId}}',
                completedStatus: completed,
                scorePerc: percentage
            }

            postScore('/learner/courses/lesson/score', score)
                .then(data => {
                    console.log(data);
                })


        }
    }

    //user answered question
    function answer(value) {

        if (value === question.answer) {
            points++;
        }
        deleteUsed();
        showQuestions();
    }

    //restart the game
    function restart() {
        document.location.href = "";
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}