{% extends "layout.html" %}

<h2>{%trans%}Upload Course Materials{%endtrans%}</h2>
{% block content %}
<h3 class="pt-3 pb-3">Upload Course Materials</h3>
<div class="d-flex row" id="wrapper">
    <div class="col-3">
        <form>
            <div class="form-group pb-3">
                <label for="course_select">Select Course</label>
                <select class="form-control" id="course_select">
                    <option selected disabled>Select</option>
                    {% for c in classes %}
                    <option value={{c.getCourseId()}}>{{c.getCourseId()}}</option>
                    {% endfor %}
                </select>
            </div>

            {% for c in classes %}
            <div class="form-group pb-3 lesson_select_div" id="{{c.getCourseId()}}">
                <label for="lesson_select">Select Lesson</label>
                <select class="form-control" id="{{c.getCourseId()}}_lesson_select">
                    <option selected disabled>Select</option>
                    {% for l in lessons %}
                    {% if l.getCourseId() == c.getCourseId() %}
                    <option value={{l.getLessonId()}}>{{l.getLessonId()}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endfor %}

            <div class="form-group pb-3" id="type_select_div">
                <label for="type_select">Select Material Type</label>
                <select class="form-control" id="type_select">
                    <option selected disabled>Select</option>
                    <option value="document">Document</option>
                    <option value="video">Video</option>
                    <option value="hyperlink">Hyperlink</option>
                </select>
            </div>

            <div class="form-group pb-3" id="file_upload_div">
                <label for="file_upload">Upload Material</label><br>
                <input type="file" class="form-control-file" id="file_upload" accept=".docx, .ppt, .pdf">
            </div>

            <div class="form-group pb-3" id="file_text_div">
                <label for="file_text">Material Link</label><br>
                <input type="url" class="form-control" id="file_text">
            </div>

            <div class="form-group pb-3" id="name_input_div">
                <label for="name_input">Name</label>
                <input type="text" class="form-control" id="name_input">
            </div>

            <button type="submit" class="btn btn-primary mb-2" id="form_submit">Submit</button>
        </form>
    </div>
</div>

<script>
    var lesson_select_divs = document.getElementsByClassName("lesson_select_div");
    var type_select_div = document.getElementById("type_select_div");
    var file_upload_div = document.getElementById("file_upload_div");
    var file_text_div = document.getElementById("file_text_div");
    var name_input_div = document.getElementById("name_input_div");
    var submit_button = document.getElementById("form_submit");


    for (i = 0; i < lesson_select_divs.length; i++){
        hide(lesson_select_divs[i]);
    }
    hide(type_select_div);
    hide(file_upload_div);
    hide(file_text_div);
    hide(name_input_div);
    hide(submit_button);
    // submit_button.disabled = true;
    
    var course_select = document.getElementById('course_select');
    var type_select = document.getElementById("type_select");
    var file_upload = document.getElementById("file_upload");
    var file_text = document.getElementById("file_text");
    var name_input = document.getElementById("name_input");

    course_select.onchange = function () {

        var lesson_select = document.getElementById(course_select.value+'_lesson_select');

        for (i = 0; i < lesson_select_divs.length; i++){
            if (lesson_select_divs[i].id == course_select.value) {
                show(lesson_select_divs[i]);
                clear_select(lesson_select);
                hide(type_select_div);
                clear_select(type_select);
                hide(file_upload_div);
                clear_input(file_upload);
                hide(file_text_div);
                clear_input(file_text);
                hide(name_input_div);
                clear_input(name_input);
                hide(submit_button);

            } 
            else {
                hide(lesson_select_divs[i]);
                clear_select(lesson_select);
                hide(type_select_div);
                clear_select(type_select);
                hide(file_upload_div);
                clear_input(file_upload);
                hide(file_text_div);
                clear_input(file_text);
                hide(name_input_div);
                clear_input(name_input);
                hide(submit_button);
            }
        }
        
        lesson_select.onchange = function () {
            show(type_select_div);
            clear_select(type_select);
            hide(file_upload_div);
            clear_input(file_upload);
            hide(file_text_div);
            clear_input(file_text);
            hide(name_input_div);
            clear_input(name_input);
            hide(submit_button);
        };
    };

    type_select.onchange = function () {
        if (type_select.value == "document"){
            show(file_upload_div);
            clear_input(file_upload);
            hide(file_text_div);
            clear_input(file_text);
            show(name_input_div);
            clear_input(name_input);
            show(submit_button);
        }
        else {
            hide(file_upload_div);
            clear_input(file_upload);
            show(file_text_div);
            clear_input(file_text);
            show(name_input_div);
            clear_input(name_input);
            show(submit_button);
        }
    };

    function hide(element) {
        element.style.display = "none";
    }

    function show(element) {
        element.style.display = "block";
    }

    function clear_select(element) {
        element.selectedIndex = 0;
    }

    function clear_input(element) {
        element.value = "";
    }

    
</script>
{% endblock %}